<h1>Lists</h1>
<br />
<%= link_to "Create List", new_list_path, class: "btn btn-success btn-block" %>
<br />

<% @lists.each do |list| %>
  <div class="list-group">
    <%= link_to list_path(list), class: "list-group-item list-group-item-action flex-column align-items-start" do %>
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= list.name %></h5>
        <small class="text-muted"><%= list.created_at.to_formatted_s(:long) %></small>
      </div>
    <% end %>
  </div>
<% end %>
