<h1>Share <%= @list.name %></h1>

<%= link_to "Back to lists", lists_path, class: "pull-right" %>

<%= react_component "ShareListForm", props: {
  list: @list, users: User.unattached_to_list(@list)
} %>
