<h1>New item</h1>

<%= link_to "Back to list", list_path(@list), class: "pull-right" %>

<%= render "form", url: items_path(list_id: params[:list_id]) %>

<br />

<%= react_component 'ItemsAlreadyOnList',
                    items: @list.items.not_archived.ordered %>
